
//-------logged-screen--------
.work
  display: flex
  width: 100%
  height: 100%

.workspace-wrap
  min-width: auto
  // width: 100%
  height: 96vh
  // float: left
  // display: inline-block
  flex-grow: 3
  // flex-shrink: 4
  flex-basis: 50%
  position: relative
  // order: 2
  // align-self: flex-end
  border: 1px solid grey
  border-radius: 3px
  margin: 5px 5px 5px 2px
  padding: 2px



//-------containers--------
.workspace
  width: 100%
  // button
  //   background-color: rgba(201, 223, 193, 0.67)
  //   margin: 3px
  //   display: block
  //   // margin-top: 330px
  //   padding: 4px
  //   border: 2px solid grey
  //   border-radius: 4px
  //   cursor: pointer
  //   font-size: 1.1em
    // float: left

.work-section
  width: auto
  margin-top: 15px
  margin: 5px
  padding: 5px
  background-color: rgba(179, 201, 171, 0.67)
  border: 1px solid grey
  border-radius: 3px
  button
    background-color: rgba(201, 223, 193, 0.67)
    margin: 3px
    display: block
    // margin-top: 330px
    padding: 4px
    border: 2px solid grey
    border-radius: 4px
    cursor: pointer
    font-size: 1.1em

.work-section-room
  width: 444px
  margin-top: 15px
  margin: 5px
  padding: 5px
  background-color: rgba(179, 201, 171, 0.67)
  border: 1px solid grey
  border-radius: 3px

.mainTitle
  margin-left: 50px

h4
  margin-left: 300px
  margin-bottom: 20px
  margin-top: 0

.enterTitle
  display: inline-block
  margin-left: 193px
  margin-bottom: 1px
  margin-top: 25px

.enterTitle:nth-child(2)
  margin-left: 263px

.title2
  margin-left: 190px
  margin-bottom: 8px
  margin-top: 23px

#title3
  margin-left: 535px
  margin-bottom: -15px
  margin-top: 25px
  display: inline

//-------Maingraph--------
#main
  width: 830px
  height: 300px
  margin: 30px
  margin-bottom: 5px

.my-selector
    fill: red
    border: 2px solid white

div.tooltip
    position: absolute
    text-align: center
    width: 50px
    height: 18px
    padding-top: 5px
    font: 12px sans-serif
    background: rgb(235, 203, 38)
    border: 1px
    border-radius: 8px
    pointer-events: none

//-------Detailedgraph--------

#doctorgraph
  width: 420px
  height: 350px
  margin-left: 30px
  float: left

.proportiongraph
  width: 350px
  height: 350px
  margin-left: 100px
  float: left

.proportiongraph2
  width: 350px
  height: 400px
  margin-left: 94px

.proportions
  height: 100px
  width: 100px
  display: inline-block
// .proportions span
//   display: inline-block

.spanWrap
  height: 70px
  width: 200px
  // display: inline-block
  margin-top: 8px
  margin-left: -10px
  float: right
  font-size: 12px
  // margin-left: 100px

.color1
  width: 10px
  height: 10px
  background-color: rgb(237, 207, 46)
  float: left
  display: inline-block
  margin-right: 6px

.color2
  width: 10px
  height: 10px
  background-color: rgb(233, 50, 50)
  float: left
  display: inline-block
  margin-right: 6px

.proportionsBot
  height: 60px
  width: 250px
  margin-left: -21px

#after
  width: 0
  height: 295px
  margin: 30px
